@model List<Category>
@{
    ViewData["Title"] = "HomePage";
}


<div class="grid__column-2">
    <nav class="category">
        <h3 class="category-heading">
            <i class="category-heading-icon fa-solid fa-list"></i>
            Category
        </h3>

        <ul class="category-list">
            @foreach (var categories in Model)
            {
                <li class="category-item">
                    <a asp-controller="Home" asp-action="ProductByCate" asp-route-id="@categories.Id" class="category-item-link">@categories.Name</a>
                </li>
            }
        </ul>
    </nav>
</div>
