@{
    ViewData["Title"] = "Register";
}

<!-- Register form -->
<div class="auth-form">
    <div class="auth-form__container">
        <div class="auth-form__header">
            <h3 class="auth-form__heading">Register</h3>
            <span class="auth-form__switch-btn">Login</span>
        </div>
        <div class="auth-form__form">
            <div class="auth-form__group">
                <input type="text" class="auth-form__input" placeholder="Enter Email">
            </div>
            <div class="auth-form__group">
                <input type="password" class="auth-form__input" placeholder="Enter Password">
            </div>
            <div class="auth-form__group">
                <input type="password" class="auth-form__input" placeholder="Enter Password Again">
            </div>
        </div>
        <div class="auth-form__controls">
            <button class="btn auth-form__controls-back">Back</button>
            <button class="btn btn--primary">Register</button>
        </div>
    </div>
</div>
