@{
    ViewData["Title"] = "Login";
}

<!-- Login form -->
<div class="auth-form">
    <div class="auth-form__container">
        <div class="auth-form__header">
            <h3 class="auth-form__heading">Login</h3>
            <span class="auth-form__switch-btn">Register</span>
        </div>
        <div class="auth-form__form">
            <div class="auth-form__group">
                <input type="text" class="auth-form__input" placeholder="Enter Email">
            </div>
            <div class="auth-form__group">
                <input type="password" class="auth-form__input" placeholder="Enter Password">
            </div>
        </div>
        <div class="auth-form__aside">
            <div class="auth-form__help">
                <a href="" class="auth-form__help-link auth-form__help-forgot">Forgot Password</a>
                <span class="auth-form__help-separate"></span>
                <a href="" class="auth-form__help-link">Need Help</a>
            </div>
        </div>
        <div class="auth-form__controls">
            <button class="btn auth-form__controls-back">Back</button>
            <button class="btn btn--primary">Login</button>
        </div>
    </div>
</div>